body {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #333333;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

/*Настройки навигации*/
.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
}	

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -67px;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 14px 40px 0px;
}

.site-navigation > li {
    width: 300px;
    text-align: center;
}

.site-navigation li:nth-child(1) {
	padding-top: 2px;
	text-align: right;
	padding-right: 70px;
}

.site-navigation li:nth-child(2) {
	padding-top: 2px;
	text-align: center;
	padding-right: 100px;

}

.site-navigation li:nth-child(3) {
	padding-top: 2px;
	text-align: center;
	padding-left: 100px;

}

.site-navigation li:nth-child(4) {
	padding-top: 2px;
	text-align: left;
	padding-left: 70px;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover, 
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

/*Приветствие*/
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
	background-image: url('../img/bg-image.jpg');		
	background-color: #ffffff;
	background-position: top;
	background-repeat: no-repeat;
	height: 773px;
	width: auto;
}

/*Введение*/
.headline {
	text-align: center;

	font-size: 14px;
	line-height: 24px;
	color: #333333;
	background-color: #ffffff;
	
	display: block;
	padding-bottom: 55px;
}

.headline .deserve {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;	
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

/*Поиск гостиниц*/
.selection {
	display: block;
	padding-top: 55px;
}

.selections h2 {
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;	
}

.selections p {
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	font-weight: 100;
	color: #333333;	
}

/*Форма поиска гостиниц*/
.search {
	float: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;	
	
	display: flex;
    flex-direction: column;
    align-items: center;
	padding-top: 55px;

}

.search-hotels {
	color: #ffffff;
	background-color: #766357;
}

.search-hotels:hover,
.search-hotels:focus {
	background-color: #604e43;
}

.search-hotels:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #503e33;
}

.appointment-form {
	font-size: 14px;
	line-height: 26px;
	color: #333333;	
}

input {
	font-size: 14px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-transform: uppercase;	
	
	background-color: #f2f2f2;
}

input:hover,
input:focus {
	background-color: #ebebeb;
}

input:active {
	background-color: #ffffff;
	border: 2px solid; 
	border-color: #e5e5e5;
}

.button {
	font: inherit;
	font-weight: bold;	
	text-align: center;
	color: #ffffff;	
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

.button-read-more {
    background-color: #81b3d2;
	
}

.button:hover,
.button:focus {
	background-color: #669ec0;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #5496bd;
}

/*Выбор гостиниц*/
.hotels-list-inner {
	display: flex;
	align-content: space-around;
	width: 1056px;
	padding: 30px 0;
	margin: 30px 0;
}



.button-reserved {
    background-color: #766357;
}

.button-reserved:hover,
.button-reserved:focus {
	background-color: #604e43;
}

.button-reserved:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #503e33;
}

.hotels-list > ul {
	list-style: none;
}

.hotels-list span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 100;
	color: #333333;
}

.hotels-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;	
}

.hotels-title:hover,
.hotels-title:focus {
	color: #81b3d2;	
}

.hotels-title:active {
	color: rgba(0, 0, 0, 0.3);
}
 
.stars-rating {
	float: right;
}

.rating {
	text-align: right;
	font-size: 14px;
	line-height: 21px;
	font-weight: 100;
	color: #666666;	
	background-color: #f2f2f2;
}

/*Футер*/
.footer-container {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 160px 10px 0;
}

.hashtag {
	font-weight: bold;
	flex-basis: 400px;
	padding: 0 70px;
	}

.footer-social > ul {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
	
	flex-basis: 400px;
}

.social-botton {
    background-color: #81b3d2;
}

.footer-social > ul {
	list-style: none;
}

.webcite-by {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	
	display: flex;
	align-items: center;
	flex-basis: 400px;
	margin: 0 10px;
	padding: 0 70px;
}