body {
	margin: 0;
	padding: 0;
	
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #ffffff;
	background-image: url("img/bg-image.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

/*Настройки навигации*/
.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}
.site-navigation a {
	color: #000000;
}

.site-navigation a:hover, 
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

/*Приветствие*/
.welcome {
	float: center;
	background-image: url('img/bg-image.jpg');
}

/*Введение*/
.headline {
	text-align: center;

	font-size: 14px;
	line-height: 26px;
	color: #333333;
}

.headline .deserve {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;	
}

/*Поиск гостиниц*/
.selections h2 {
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;	
}

.selections p {
	text-align: center;
	font-size: 10px;
	line-height: 14px;
	font-weight: 100;
	color: #000000;	
}

/*Форма поиска гостиниц*/
.search {
	float: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;	

}

.search-hotels {
	color: #ffffff;
	background-color: #766357;
}

.search-hotels:hover,
.search-hotels:focus {
	background-color: #604e43;
}

.search-hotels:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #503e33;
}

.appointment-form {
	font-size: 14px;
	line-height: 26px;
	color: #333333;	
}

input {
	font-size: 14px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-transform: uppercase;	
	
	background-color: #f2f2f2;
}

input:hover,
input:focus {
	background-color: #ebebeb;
}

input:active {
	background-color: #ffffff;
	border: 2px solid; 
	border-color: #e5e5e5;
}

.button {
	font: inherit;
	font-weight: bold;	
	text-align: center;
	color: #ffffff;	
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

.button-read-more {
    background-color: #81b3d2;
}

.button:hover,
.button:focus {
	background-color: #669ec0;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #5496bd;
}

/*Выбор гостиниц*/
.button-reserved {
    background-color: #766357;
}

.button-reserved:hover,
.button-reserved:focus {
	background-color: #604e43;
}

.button-reserved:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #503e33;
}

.hotels-list > ul {
	list-style: none;
}

.hotels-list span {
	font-size: 14px;
	line-height: 21px;
	font-weight: 100;
	color: #000000;
}

.hotels-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;	
}

.hotels-title:hover,
.hotels-title:focus {
	color: #81b3d2;	
}

.hotels-title:active {
	color: rgba(0, 0, 0, 0.3);
}
 
.stars-rating {
	float: right;
}

.rating {
	text-align: right;
	font-size: 14px;
	line-height: 21px;
	font-weight: 100;
	color: #666666;	
	background-color: #f2f2f2;
}

/*Футер*/
.main-footer span {
	font-weight: bold;
}

.footer-social > ul {
	list-style: none;
}