/*common settings*/
a {
    text-decoration: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


/*body's settings*/
body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    background-color: #efefef;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.wrapper-inner {
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}


/*navigation's settings*/
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    margin: 0;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -67px;
    box-sizing: border-box;

    z-index: 2;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.site-navigation a {
    color: #000000;
    display: block;
    padding: 15px 45px;
    vertical-align: middle;
    box-sizing: border-box;
}

.site-navigation > li {
    width: 20%;
}

.site-navigation li:nth-child(3) {
    text-align: right;
    margin-left: 20%;
    box-sizing: border-box;
}

.site-navigation li:nth-child(4) {
    text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.active-a-menu {
    box-sizing: border-box;
    color: #766357;
    display: block;
    padding: 15px 45px;
    vertical-align: middle;
}


/*welcoming*/
.welcome {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../img/bg-image.jpg');
    background-color: #ffffff;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 55px;
    background-image: url('../img/intro-mask.svg');
    background-repeat: no-repeat;
}

.welcome img {
    padding-top: 75px;
    padding-bottom: 80px;
    box-sizing: border-box;
}


/*introduction*/
.headline {
    text-align: center;

    font-size: 14px;
    line-height: 24px;
    color: #333333;
    background-color: #ffffff;

    display: block;
    padding-bottom: 35px;
    box-sizing: border-box;
}

.headline .deserve {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    box-sizing: border-box;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*benefits*/

/*real town*/
.real-town {
    text-align: center;
    margin-bottom: 60px;

    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    display: flex;
}

.real-town-info {
    box-sizing: border-box;
    background-color: #81b3d2;
    width: 400px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}

.real-town-info h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.real-town-img > img {
    display: block;
}

/*features*/
.features {
    margin-bottom: 72px;
}

.features-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.feature-item {
    width: 400px;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
    padding-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
    background-position: top center;
    background-repeat: no-repeat;
}

.feature-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
	color: #000000;
    padding-top: 22px;
}

.feature-item p {
    font-size: 14px;
    line-height: 21px;
}

.feature-item:nth-child(1) {
    background-image: url('../img/icon-1.svg');
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

.feature-item:nth-child(2) {
    background-image: url('../img/icon-3.svg');
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

.feature-item:nth-child(3) {
    background-image: url('../img/icon-2.svg');
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

/*devil's bridge*/
.devils-bridge {
    text-align: center;

    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    display: flex;
}

.devils-bridge-info {
    box-sizing: border-box;
    background-color: #81b3d2;
    width: 400px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}

.devils-bridge-info h3 {
    font-size: 21px;
    line-height: 21px;
}


.devils-bridge-img > img {
    display: block;
}

/*benefits*/
.benefits-list {
    display: flex;
    margin: 0;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
    background-color: #eeeeee;

    list-style: none;
}

.benefits-item {
    width: 400px;
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
    box-sizing: border-box;
}

.benefits-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
	color: #000000;
}

.benefits-item p {
    font-size: 14px;
    line-height: 21px;
}

/*hotel's search*/
.selection {
    display: block;
    padding-top: 55px;
    box-sizing: border-box;
}

.selections {
    position: relative;
}

.selections .wrapper-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selections iframe {
    margin-top: 128px;
    width: 100%;
}

.selections .wrapper-inner > h2 {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 10px;
}

.selections .wrapper-inner > p {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 100;
    color: #333333;
    margin-bottom: 0px;
}


/*hotel's search form*/
.search {
    position: absolute;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    top: 205px;
    z-index: 100000;
}

.search iframe {
    position: relative;
}

.search-hotels {
    color: #ffffff;
    background-color: #766357;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.search-hotels:hover,
.search-hotels:focus {
    background-color: #604e43;
}

.search-hotels:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #503e33;
}

.appointment-form {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 55px;
    padding-right: 55px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

    background-color: #ffffff;
}

.appointment-form p {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointment-date-in,
.appointment-date-out {
    margin: 0;
    margin-bottom: 30px;
}

.appointment-form label {
    box-sizing: border-box;
	color: #000000;
}

.appointment-form input {
    font-size: 14px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

.appointment-date-in input,
.appointment-date-out input {
    width: 345px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-left: 20px;
    box-sizing: border-box;
    border: solid 1px transparent;
}

.appointment-form input:hover,
.appointment-form input:focus {
    background-color: #ebebeb;
}

.appointment-form input:active {
    background-color: #ffffff;
    border-color: #e5e5e5;
}

.appointment-date-in b > svg,
.appointment-date-out b > svg {
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 1;
    opacity: 0.3;
}

.appointment-date-in b:hover > svg,
.appointment-date-out b:hover > svg,
.appointment-date-in b:focus > svg,
.appointment-date-out b:focus > svg {
    opacity: 1;
}

.appointment-date-in b:active > svg,
.appointment-date-out b:active > svg {
    fill: #81b3d2;
}

.appointment-clients {
    margin-top: 0px;
    box-sizing: border-box;
}

.appointment-clients > span {
    display: flex;
}

.appointment-clients input {
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    padding: 5px;
    text-align: center;
    border: none;
    box-sizing: border-box;
}

.appointment-clients button {
    width: 38px;
    height: 38px;
    padding: 0;
    border: 0;
}

.appointment-clients svg:nth-child(2):hover,
.appointment-clients svg:nth-child(2):focus,
.appointment-clients svg:last-child:hover,
.appointment-clients svg:last-child:focus {
    opacity: 1;
}

.appointment-clients svg:nth-child(2):active,
.appointment-clients svg:last-child :active {
    color: #81b3d2;
}


/*bottons settings*/
.button-minus,
.button-plus {
    position: relative;
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    padding: 5px;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.button-minus::before,
.button-plus::before,
.button-plus::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
}

.button-minus::before,
.button-plus::before {
    left: 13px;
    top: 18px;
}

.button-plus::after {
    left: 13px;
    top: 18px;
    transform: rotate(90deg);
}

.button-minus:hover::before,
.button-plus:hover::before,
.button-plus:hover::after {
    background-color: #000000;
}

.button-minus:active::before,
.button-plus:active::before,
.button-plus:active::after {
    background-color: #81b3d2;
}

.button {
    box-sizing: border-box;

    display: inline-block;
    padding: 10px 30px;

    font: inherit;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-search {
    box-sizing: border-box;

    font-size: 21px;
    line-height: 26px;
    width: 100%;
    padding: 15px;
    margin-top: 40px;

    background-color: #81b3d2;
}

.button-read-more {
    box-sizing: border-box;

    background-color: #81b3d2;
    padding: 1px 17px;
    margin-top: 2px;
}

.button-reserved {
    box-sizing: border-box;

    background-color: #81b3d2;
    padding: 1px 17px;
    margin-top: 2px;
}

.button:hover,
.button:focus {
    background-color: #669ec0;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #5496bd;
}


/*hotel's choice*/

.button-reserved {
    background-color: #766357;
}

.button-reserved:hover,
.button-reserved:focus {
    background-color: #604e43;
}

.button-reserved:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #503e33;
}


/*filter's settings*/
.filter-range {
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


/*hotel's list*/
.hotels-list-box {
    margin-top: 30px;
}

.hotels-list-box > ul {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

.hotels-list > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotels-list-inner {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-left: 70px;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.3);
}

.hotels-list-item {
    display: flex;
}

.hotels-list {
    display: flex;
    flex-wrap: wrap;
}

.hotels-list-img {
    box-sizing: border-box;

    margin-right: 29px;
    padding-top: 0px;
}

.hotels-list-img > img {
    min-height: 100%;
    display: block;
}

.hotels-title {
    width: 100%;
    margin: 0;
    font-size: 21px;
    line-height: 22px;
    font-weight: bold;
    color: #000000;
}

.hotels-title:hover,
.hotels-title:focus {
    color: #81b3d2;
}

.hotels-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels-list-details,
.hotels-list-price {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* padding-bottom: 10px;*/
    margin-right: 6px;
}

.hotels-list span {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    color: #333333;
}


/*hotel's raiting*/
.hotels-list-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.stars-rating {
    margin-bottom: 20px;
}

.rating {
    box-sizing: border-box;

    text-align: right;
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    color: #666666;
    background-color: #f2f2f2;

    padding: 3px 15px;
}


/*footer's settings*/
.main-footer {
    padding-top: 35px;
    padding-bottom: 50px;
    position: absolute;
    top: 2640px;
    background-color: rgba(255,255,255, 0.9);
    width: 1200px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hashtag {
    box-sizing: border-box;
	
	color: #000000;
    font-size: 21px;
    font-weight: bold;
    padding: 0 70px;
    width: 30%;
    text-align: center;
}

.footer-social > ul {
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social ul li {
    margin: 0 3px;
}

.social-botton {
    box-sizing: border-box;

    background-color: #81b3d2;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
}

.social-botton:hover,
.social-botton:focus {
    background-color: #669ec0;
}

.social-botton:active svg path {
    fill: #88b6d1;
}

.webcite-by {
    font-size: 14px;
    line-height: 26px;
    color: #000000;

    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
}

.webcite-by > span {
    box-sizing: border-box;

    font-size: 14px;
    padding-right: 10px;
}

.footer-logo:hover svg path,
.footer-logo:focus svg path {
    fill: #81b3d2;
}


.footer-logo:active svg {
    fill: #000000;
    opacity: 0.3;
}
